<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>L33 to Event_c</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">
  <link rel="stylesheet" href="src/index.css">
  <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
  <script src="https://unpkg.com/flatpickr"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
  <!-- app div -->
  <div id="app">
    <!-- main -->
    <div class="content">
      <div class="header">
        <h1>L33轉Event_C</h1>
      </div>
      <!-- File info -->
      <h3 class="title">基本資訊</h3><h6 class="subtitle">檔名預覽: {{ filename }}</h6>
      <div class="columns">
        <div class="column">
          <label class="label">來源</label>
          <p class="control">
            <span class="select is-fullwidth">
              <select v-model="source">
                <option value="PT">廠商</option>
                <option value="LM">台北局</option>
              </select>
            </span>
          </p>
        </div>
        <div class="column">
          <label class="label">特約戶號</label>
          <p class="control">
            <input v-model="id" class="input" type="text" placeholder="特約戶號" maxlength="12">
          </p>
        </div>
        <div class="column">
          <label class="label">封發時間</label>
          <p class="control">
            <input v-model="mantleTime" class="input flatpickr" type="datetime" placeholder="封發時間">
          </p>
        </div>
        <div class="column">
          <label class="label">郵件類別</label>
          <p class="control">
            <span class="select is-fullwidth">
              <select v-model="type">
                <option v-for="type in types" :value="type.value" @click="initType()">
                  {{ type.text }}
                </option>
              </select>
            </span>
          </p>
        </div>
      </div>
      <!-- File info End -->

      <!-- Basic -->
      <div class="columns">
        <div class="column">
          <label class="label">格式</label>
          <p class="control">
            <span class="select is-fullwidth">
              <select v-model="format">
                <option value="A">總包資訊</option>
                <option value="B">郵袋資訊</option>
                <option value="C" v-if="type !== 3">郵件資訊</option>
              </select>
            </span>
          </p>
        </div>

        <div class="column field">
          <label class="label">年度</label>
          <p class="control">
            <input v-model="year" class="input" type="text" placeholder="年度" maxlength="12">
          </p>
        </div>

        <div class="column field">
          <label class="label">國名代碼</label>
          <p class="control">
            <input v-model="countryCode" class="input" type="text" placeholder="國名代碼" maxlength="2">
          </p>
        </div>
      </div>

      <div class="columns">
        <div class="column field">
          <label class="label">互換局名</label>
          <p class="control">
            <input v-model="foce" class="input" type="text" disabled>
          </p>
        </div>

        <div class="column field">
          <label class="label">總包號碼</label>
          <p class="control">
            <input v-model="packageCode" class="input" type="text" placeholder="總包號碼" maxlength="4">
          </p>
        </div>
      </div>
      <!-- Basic end -->

      <!-- A -->
      <div class="type-a" v-if="format === 'A'">
        <div class="columns">
          <div class="column field">
            <label class="label">提單號碼</label>
            <p class="control">
              <input v-model="typeA['billCode']" class="input" type="text" placeholder="提單號碼" maxlength="12">
            </p>
          </div>

          <div class="column field">
            <label class="label">去年最後總包</label>
            <p class="control">
              <input v-model="typeA['lastPackage']" class="input" type="text" placeholder="去年最後總包" maxlength="4">
            </p>
          </div>
        </div>

        <div class="columns">
          <div class="column field">
            <label class="label">總件數</label>
            <p class="control">
              <input v-model="typeA['itemNum']" class="input" type="number" placeholder="總件數" min="0" maxlength="5">
            </p>
          </div>

          <div class="column field">
            <label class="label">總頁數</label>
            <p class="control">
              <input v-model="typeA['pageNum']" class="input" type="number" placeholder="總件數" min="0" maxlength="3">
            </p>
          </div>

          <div class="column field">
            <label class="label">總袋數</label>
            <p class="control">
              <input v-model="typeA['packageNum']" class="input" type="number" placeholder="總袋數" min="0" maxlength="3">
            </p>
          </div>

          <div class="column field">
            <label class="label">總重量</label>
            <p class="control">
              <input v-model="typeA['totalWeight']" class="input" type="number" placeholder="總重量" min="0" step="0.1" maxlength="8">
            </p>
          </div>
        </div>
      </div>
      <!-- A end -->

      <!-- B -->
      <div class="type-b" v-if="format === 'B'">
        <div class="columns">
          <div class="column field">
            <label class="label">袋序</label>
            <p class="control">
              <input v-model="typeB['packageOrder']" class="input" type="number" placeholder="袋序" min="0" maxlength="3">
            </p>
          </div>

          <div class="column">
            <label class="label">是否為最後一袋</label>
            <p class="control">
              <span class="select is-fullwidth">
                <select v-model="typeB['isLastPackage']">
                  <option value="0">否</option>
                  <option value="1">是</option>
                </select>
              </span>
            </p>
          </div>

          <div class="column field">
            <label class="label">該袋頁數</label>
            <p class="control">
              <input v-model="typeB['packagePages']" class="input" type="number" placeholder="該袋頁數" min="0" maxlength="3">
            </p>
          </div>
        </div>

        <div class="columns">
          <div class="column field">
            <label class="label">件數</label>
            <p class="control">
              <input v-model="typeB['itemNum']" class="input" type="number" placeholder="件數" min="0" maxlength="4">
            </p>
          </div>

          <div class="column field">
            <label class="label">重量</label>
            <p class="control">
              <input v-model="typeB['weight']" class="input" type="number" placeholder="重量" min="0" step="0.1" maxlength="5">
            </p>
          </div>
        </div>
      </div>
      <!-- B end -->

      <!-- C -->
      <div class="type-c" v-if="format === 'C'">
        <div class="columns">
          <div class="column field">
            <label class="label">袋序</label>
            <p class="control">
              <input v-model="typeC['packageOrder']" class="input" type="number" placeholder="袋序" min="0" maxlength="3">
            </p>
          </div>

          <div class="column field">
            <label class="label">頁序</label>
            <p class="control">
              <input v-model="typeC['pageOrder']" class="input" type="number" placeholder="頁序" min="0" maxlength="3">
            </p>
          </div>

          <div class="column field">
            <label class="label">格次</label>
            <p class="control">
              <input v-model="typeC['blankNum']" class="input" type="number" placeholder="格次" min="0" maxlength="3">
            </p>
          </div>

          <div class="column field">
            <label class="label">郵件號碼</label>
            <p class="control">
              <input v-model="typeC['mailCode']" class="input" type="text" placeholder="郵件號碼" maxlength="13">
            </p>
          </div>
        </div>

        <div class="columns">
          <div class="column field">
            <label class="label">重量</label>
            <p class="control">
              <input v-model="typeC['weight']" class="input" type="number" placeholder="重量" min="0" step="0.01" maxlength="5">
            </p>
          </div>

          <div class="column field">
            <label class="label">省別</label>
            <p class="control">
              <input v-model="typeC['province']" class="input" type="text" placeholder="省別" maxlength="2">
            </p>
          </div>

          <div class="column field">
            <label class="label">箱別</label>
            <p class="control">
              <span class="select is-fullwidth">
                <select v-model="typeC['box']">
                  <option value="1">自由包</option>
                  <option value="2">健康袋</option>
                  <option value="3">商旅包</option>
                </select>
              </span>
            </p>
          </div>

        </div>
      </div>
      <!-- C end -->

      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <a class="button is-primary add-button" @click="add(format)">新增</a>
        </div>
      </div>

      <!-- tables -->

      <!-- a tables -->
      <div class="a-table" v-if="showTable('A')">
        <h3>Type A</h3>
        <table class="table">
          <thead>
            <tr>
              <th>提單號碼</th>
              <th>去年最後總包</th>
              <th>封發時間</th>
              <th>總件數</th>
              <th>總頁數</th>
              <th>總袋數</th>
              <th>總重量</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="aInfo in aInfos">
              <td>{{ aInfo['billCode'] }}</td>
              <td>{{ aInfo['lastPackage'] }}</td>
              <td>{{ mantleTime }}</td>
              <td>{{ aInfo['itemNum'] }}</td>
              <td>{{ aInfo['pageNum'] }}</td>
              <td>{{ aInfo['packageNum'] }}</td>
              <td>{{ aInfo['totalWeight'] }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- b tables -->
      <div class="b-table" v-if="showTable('B')">
        <h3>Type B</h3>
        <table class="table">
          <thead>
            <tr>
              <th>袋序</th>
              <th>是否為最後一袋</th>
              <th>該袋頁數</th>
              <th>件數</th>
              <th>重量</th>
              <th>封發時間</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="bInfo in bInfos">
              <td>{{ bInfo['packageOrder'] }}</td>
              <td>{{ bInfo['isLastPackage'] }}</td>
              <td>{{ bInfo['packagePages'] }}</td>
              <td>{{ bInfo['itemNum'] }}</td>
              <td>{{ bInfo['weight'] }}</td>
              <td>{{ mantleTime }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- c tables -->
      <div class="c-table" v-if="showTable('C')">
        <h3>Type C</h3>
        <table class="table">
          <thead>
            <tr>
              <th>袋序</th>
              <th>頁序</th>
              <th>格次</th>
              <th>郵件號碼</th>
              <th>重量</th>
              <th>封發時間</th>
              <th>省別</th>
              <th>箱別</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="cInfo in cInfos">
              <td>{{ cInfo['packageOrder'] }}</td>
              <td>{{ cInfo['pageOrder'] }}</td>
              <td>{{ cInfo['blankNum'] }}</td>
              <td>{{ cInfo['mailCode'] }}</td>
              <td>{{ cInfo['weight'] }}</td>
              <td>{{ mantleTime }}</td>
              <td>{{ cInfo['province'] }}</td>
              <td>{{ cInfo['box'] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- main end -->
  </div>
  <!-- app div end -->
  <script src="src/index.js"></script>
</body>

</html>