body {
  color: #666;
}

.header {
  margin: 20px;
  text-align: center;
}

.content {
  margin: auto;
  max-width: 768px;
  width: 100%;
}

select {
  padding-top: 4px !important;
}

.add-button {
  margin: auto;
  display: block;
  width: 60%;
}
